.ulm-map-fields .db-field {
	overflow: hidden;
}
.ulm-map-fields .db-field select {
	float: left;
}
.ulm-map-fields .db-field input {
	display: none;
	float: left;
}
.ulm-map-fields .db-field input.active {
	display: block;
}
.ulm-map-fields .db-field input[type="checkbox"] {
	margin-top: 5px;
	margin-left: 10px;
}
.ulm-map-fields #map_name {
	display: none;
}
.ulm-map-fields #map_name.active {
	display: inline-block;
}
.ulm-map-fields .db_fields_dropdown {
	display: none;
}
.ulm-map-fields .db_fields_dropdown.active {
	display: block;
}