/**
 * MAP FIELDS
 */
.emcsvupload-map-fields label {
	font-weight: bold;
	width: 160px;
	display: inline-block;
}
.emcsvupload-map-fields .map-row {
	padding: 0 10px 10px 5px;
}
.emcsv-map-form th {
	padding: 10px 10px 10px 5px;
}
.emcsv-map-form td {
	padding: 5px 10px 5px 5px;
}
.emcsv-map-form tr.fields-row:nth-child(even) {
	background: #ccc;
}